@charset "utf-8";
/* CSS Document*/

body {
 
/*
  background: rgb(110, 110, 110);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
*/
}
.canvas {
    position: absolute;
    top: 0;
    left: 0;
}


p{
    grid-column: 2/3;
        grid-row: 1;

        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        color: dark grey;
    
}

.slider::after {
    content: "100";
    color: rgb(255, 255, 255);
    font-size: 18pt;
    position: absolute;
    left: 92%;
    top: 26%;
}


.slider::before {
    content: "0";
    color: rgb(255, 255, 255);
    font-size: 18pt;
    position: absolute;
    left: 1%;
    top: 26%;
}

.slidecontainer {
 
    width: 75%;
    margin-top: 200px;
    
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214,214,214) 60%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 40px; 
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 40px; 
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}



.dataSlider::after {
    content: "5";
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    position: absolute;
    left: 92%;
    top: 26%;
}


.dataSlider::before {
    content: "0";
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    position: absolute;
    left: 1%;
    top: 26%;
}

.slidecontainer {
 
    width: 75%;
    margin-top: 200px;
    
}

.dataSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, rgb(214,214,214) 60%, rgb(214,214,214) 60%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

.dataSlider:hover {
opacity: 1;
}

.dataSlider::-webkit-dataSlider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 40px; 
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.dataSlider::-moz-range-thumb {
    appearance: none;
    width: 40px; 
    height: 40px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
  }
  /* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .wrapper {
    position: absolute; top:50px; left: 50px; right:50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    grid-auto-rows: auto;
  }
  
  .one {
     
  
    background: white;
    border: 1px solid white; 
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: black; 
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    
  }

  .custom-file-input {
    grid-column:1;
    grid-row:1;
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select Samples';
    background: #24a0ed;
    border: 1px solid #24a0ed;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .custom-file-input:hover::before {
    background-color: initial;
    background-position: 0 0;
    color: #24a0ed;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }
  
  
  .two {
  
    grid-column:4;
    grid-row:1;
  
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .two:hover,
  
  .two:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .two:active {
    opacity: .5;
  }

  .fileName {
    grid-column: 2;
    grid-row: 1;


  }
  
  
    table {
          grid-column: 1/3;
          grid-row: 2;
          height: 800px;
          position: absolute; top: 100px; left: 50px; right: 50px; 
          display: block; 
          overflow-x: auto; 
          white-space: nowrap; 
          border-collapse: collapse;
          
          margin-top: 50px;;
        }
    
    td {
          padding: 8px 16px;
          border: 1px solid #ccc;
          font-size: 16px;
          font-family: ui-monospace;
          width: 50px;
        }

    tr:first-child td {
        
        border: none;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;

    }

    th {

        border: none;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;

    }

    table tr th:first-child {
        position: sticky;
        offset-inline-start: 0;
    }

      
    